/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
	color: #222;
}

body {
	font-size: 1em;
	line-height: 1.4;
	font-family: 'Roboto Condensed', sans-serif;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* font stuff */


/*font-family: 'Roboto Condensed', sans-serif; 300 400 700*/
/*font-family: 'Kreon', serif; 300 400 700*/
.bigger {
	font-size:22px;
	
}
.upper {
	text-transform: uppercase;
}
.robotoCnd {
	font-family: 'Roboto Condensed', sans-serif;
}
.kreon {
	font-family: 'Kreon', serif;
}
.wt300 {
	font-weight: 300;
}
.wt400 {
	font-weight: 400;
}
.wt700 {
	font-weight: 700;
}
.georgia {
	font-family: georgia;
}
body {
	background:white;
	font-family: Georgia, serif;
	color:#56544a;
}
a:link, a:active {
	text-decoration: none;
	color:#c41515;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color:#620b0b;
}
/*share pop*/
.popable {
	position: fixed;
	z-index: 99999;
	height: 100%;
	width:100%;
	background:rgba(0,0,0,.75);
}
#sharePop div {
	margin: 10% auto 0 auto;
	padding:10px 25px 25px 25px;
	max-width: 290px;
	border-radius:4px;
	text-align: center;
	background:#fafafa;
}
/*nav*/

nav {
	position: fixed;
	width:100%;
	height:50px;
	z-index: 9999;
	
	color:#fafafa;
}

nav ul {
	margin: 0;
	padding: 0;
}
nav ul li {
	padding:12px 25px;
	float: left;
	display: inline-block;
	text-transform: uppercase;
}
nav ul li a:link,
nav ul li a:active, 
nav ul li a:hover, 
nav ul li a:visited {
	color:#fafafa;
	text-decoration:none;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 0.035em;
}
#speadTheWord {
	/*text-align: center;*/
	float:right;
	padding:6px 12px;
	background: #1d1c19;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 0.035em;
	text-transform: uppercase;
	cursor: pointer;
}
#social {
	float:right;
	padding:12px 25px;
	color:#fafafa;
	text-decoration:none;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 0.035em;
	cursor: pointer;
}



/*content*/
#heroUnit {
	padding-top:50px;
	height:700px;
	/*background:#50b1de;*/
	background:url(../img/herobg-new.jpg) top center no-repeat;
	background-size: 120%;
}
.night #heroUnit {
	background-image: url(../img/herobg-new.jpg);
}
#mobileLogoHolder {
	padding-left:50px;
}
#mobileLogoHolder .mobile {
	display: none;
}
#mobilePulse {
	display: none;

}
.hero-video {
	margin-left: 50px;
	max-width: 42%;
	margin-top: 10px;
}
.hero-quote {
	margin-top:-10px;
	font-size: 1.2em;
	color:white;
	display:inline-block;
}
.hero-quote small {
	display:block;
	text-align:right;
}
.content {
	padding: 25px 0;
}
.content.involved {
	font-size:18px;
}
.content.involved i {
	font-size: 14px;
}

#theArtists {
	position: relative;
}

/*buckets*/
#burst {
	float:right;
	margin-top:-150px;
	margin-right:70px;
}
#fixedBuckets {
	margin-top: -160px;
	z-index: 999;
	
}
#fixedBuckets .leftContentPane {
	background:rgba(251, 181, 59, 0.8);
}
#fixedBuckets .copy {
	padding: 0;
	color:#222222;
}
#fixedBuckets p {
	margin:0;
	padding:0 0 10px 0;
}
#fixedBuckets .reference {
	padding-bottom:15px;
	font-size: 14px;
}
.bucket {
	float:left;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color:#ffffff;
}
.bucket:last-child {
	border-right: none;
}
.bucket a:link,
.bucket a:active, 
.bucket a:hover, 
.bucket a:visited {
color:#ffffff;
text-decoration: none;
	}
.bucket p {
	margin:0;
	padding: 0 0 0 25px;
	line-height: 1.35em;
	letter-spacing: .05em;
}
h1 .small, h1 .large {
	display: block;
	line-height: 23px;
}
.bucket .small, .bucket .large {
	line-height: .5em;
}
.bucket .small, h1 .small {
	font-size: 15px;
}
.bucket .large, h1 .large {
	font-size: 27px;
}
#bucket1 {
	width:29%;
}
#bucket2 {
	width:29%;
}
#bucket3 {
	width:40%;
}
.content {
	background:#fafafa;

}
.content h1 {
	text-transform: uppercase;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}
.fixedImage {
	margin-top:-25px;
	width:100%;
	height: 100%;
}
#theFilm .fixedImage {
	background:url(../img/theFilm0.jpg) top center no-repeat;
	background-size:120%;
}
#theArtists .fixedImage {
	background:url(../img/img_hp_bkg_Idea.jpg) top center no-repeat;
	background-size:120%;
}
#screeningsContact .fixedImage {
	background: url(../img/screeningContact.jpg) top center no-repeat;
	background-size:120%;
}

.fixedImage.unfixMe {
	position: absolute;
}
.fixedImage.fixMe {
	position: fixed;
	top: 50px;
}
.leftContentPane {
	position: relative;
	margin-left:40%;
	margin-right:50px;
	padding:25px;
	background:rgba(255,255,255,.65);
}
footer {
	padding-top:5px;
	height:25px;
	text-align: center;
	background: #1d1c19;
	color:#fafafa;
	font-size: 12px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 1800px) {
	#heroUnit {
		background-size: 140%;
		background-position: top center;
	}
}
@media only screen and (max-width: 1365px) {
	#burst {
		width:30%;
		margin-top: -80px;
	}
}
@media only screen and (max-width: 890px) {
	#fixedBuckets {
		padding-top: 120px;
	}
	.leftContentPane {
		margin-right: 30px;
	}
}
@media only screen and (max-width: 862px) {
	#burst {
		margin-right:10px;
	}
}
@media only screen and (max-width: 767px) {

	nav {
		background: #1d1c19;
		position: static;
		height: 40px;
		font-size: 12px;
	}
	nav ul li {
		border-right: solid #575654 1px;
		margin-top: 8px;
		padding:4px;
	}
	nav ul li a {
		padding:4px 20px;
	}
	nav ul li:first-child {
		border:none;
		padding:0;
	}
	nav ul li #bug {
		display: none;
	}
	#shareText {
		display: none;
	}
	#mobileLogoHolder {
		margin:0 auto;
		padding:0 60px;
		max-width: 344px;
		min-width: 172px;
	}
	#mobileLogoHolder img {
		width:100%;
	}
	#mobileLogoHolder .mobile {
		display: block;
	}
	#mobileLogoHolder .desktop {
		display: none;
	}
	.hero-video {
		max-width: 320px;
  		margin: 15px auto 0 auto;
	}
	.hero-quote {
		color:black;
		display:inline-block;
	}

	/*some animation*/
	@keyframes myfirst {
		from {top: 0px;}
		to {top: 10px;}
	}

	@-webkit-keyframes myfirst {
		from {top: 0px;}
		to {top: 10px;}
	}
	#mobilePulse {
		display: block;
		text-align: center;
		padding-top:50px;

	}
	#mobilePulse img {
		position: relative;
		animation: myfirst 1.5s ease-in-out 0s infinite alternate;
	-webkit-animation: myfirst 1.5s ease-in-out 0s infinite alternate;
	}
	#heroUnit {
		height:660px;
		background-image: url(../img/herobg1_mobile.jpg);
	background-size: 100%;
		background-position: top center;
		padding-top: 20px;
		padding-bottom: 100px;
	}
	.night #heroUnit {
		background-image: url(../img/herobg0_mobile.jpg);
	}
	#heroUnit .copy {
		margin:0 auto;
		padding: 80px 25px 50px 25px;
		max-width: 344px;
		min-width: 172px;
		font-size: 17px;
		line-height: 24px;
	}

	#heroUnit .copy .reference {
		font-size: 13px;
		line-height: 1.35em;
	}
	#fixedBuckets {
		background:#ffffff;
	}
	#fixedBuckets .leftContentPane {
		padding-bottom: 0px;
		background:rgba(255, 255, 255, 0.8);
	}
	#fixedBuckets .leftContentPane {
		float:none !important;
		width:100% !important;
		min-width: 100% !important;
	}
	#fixedBuckets .copy {
		padding:25px;
	}
	#fixedBuckets .bucket p {
		padding-left:10px;
	}
	.bucket {
		padding:10px 0 0 0;
		background: #222222;
	}
	.content {
		border-top: solid #56544a 1px;
		padding:25px;
		font-size: 14px;
		line-height: 21px;
	}
	.content h1 {
		line-height: 35px;
		/*letter-spacing: .1em;*/
	}
	.content h1 .small {
		font-size: 35px;
		letter-spacing: .05em;
	}
	.content h1 .large {
		font-size: 50px;
		letter-spacing: .05em;
		line-height: 1.2em;
	}
	.content blockquote{
		font-family: "kreon", sans-serif;
		color:#78766D;
		margin:0;
		padding:0 25px;
		font-size: 16px;
		line-height: 24px;
		font-style: italic;
	}
	.content .reference {
		font-family: "Georgia", sans-serif;
		color: #56544a;
		text-align: right;
		font-size: 13px;
		line-height: 1.35em;
		font-style: normal;
	
	}
	.fixedImage {
		display: none;
	}
	.leftContentPane {
		margin:0px;
		padding:0px;
		position: static;
	}
	#theFilm {
		height:auto;
	}
	#theArtists {
		height:auto;
	}

	.bucket {
		border-right: solid #ffffff 1px;
	}
	.bucket:last-child {
		border-right: none;
	}
	.bucket p {
		margin:0;
		padding: 0 0 0 25px;
		line-height: 1em;
		letter-spacing: .05em;
	}
	.bucket .small {
		font-size: 13px;
	}
	.bucket .large {
		font-size: 21px;
	}
	#burst {
		float: none;
		width: 160px;
		position: absolute;
		top: 450px;
		left: 0;
		
	}
	
	
}
@media only screen and (max-width: 420px) {
	nav ul li {
	}
	nav ul li a {
		padding:4px 10px;
	}
	#social {
		padding: 12px;
	}

	
}
@media only screen and (max-width: 400px) {
	#heroUnit {
		height:550px;
	}
	#burst {
		float: none;
		width: 160px;
		position: absolute;
		top: 390px;
		left: 0;
		
	}
}
@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}